@import 'styles/mixins';

.content {
  // align-items: center;
  // display: flex;
  // justify-content: center;
  // border: 1px solid green;
  @include box;
  flex: 1;
  margin: 15px;
  padding: 30px;
  height: calc(100% - 30px);
}
