{
  "extends": ["airbnb", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "requireConfigFile": false,
    "sourceType": "module",
    "babelOptions": {
      "configFile": "./.babelrc",
      "presets": ["@babel/preset-react"]
    },
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "semi": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "function-declaration"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-restricted-exports": "off",
    "prettier/prettier": "error",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "global-require": "off",
    "react/jsx-wrap-multilines": "off",
    "import/no-cycle": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": "warn",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "plugins": ["prettier", "@babel"],
  "settings": {
    "import/resolver": {
      "node": { "paths": ["src"] }
    }
  }
}
