@import 'styles/animations';

.logout {
  align-items: center;
  animation: fadeOut 2.2s ease;
  background: lightblue;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  justify-content: center;
}
