@import 'styles/animations';
@import 'styles/breakpoints';

@mixin wrapper {
  background: linear-gradient(-45deg, #507efd, #5eb2b8, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 2rem;
  height: auto;
  min-height: 100vh;
  @include media-breakpoint-down(sm) {
    padding: 1rem;
    height: auto;
    min-height: 100%;
  }
}

@mixin box {
  background: rgb(254, 254, 254);
  background: linear-gradient(90deg, rgba(254, 254, 254, 0.5) 0%, rgba(203, 222, 226, 0.9) 100%);
  border-radius: 35px;
  border: 2px solid #fff;
  box-shadow: 23px 30px 70px -19px rgba(97, 96, 96, 0.88);
  display: grid;
  grid-template-areas: 'centerLeft centerRight';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 70vh;
  }
}
