:root {
  /* Colors */
  --body-bg: #fcfdfe;
  --primary-color: #003049;
  --secondary-color: #4896fc;
  --main-text-color: #003049;
  --invert-text-color: #009baf;
  --error-color: #d62828;
  --error-color-bg: #ffe8e8;
  --success-color: #00aa8c;
  --success-color-bg: #f1fffd;

  /* Fonts */
  --font-family-titillium: 'Titillium Web', sans-serif;
  --main-font: var(--font-family-titillium);

  /* Button */
  --button-default-background: var(--secondary-color);
  --button-default-background-hover: var(--invert-text-color);
  --button-default-color: white;
  --button-default-color-hover: var(--main-text-color);
  --button-secondary-background: transparent;
  --button-secondary-color: var(--secondary-color);
  --button-secondary-color-hover: #ffffff;
  --button-secondary-background-hover: var(--primary-color);
  --button-cancel-background: #ffffff;
  --button-cancel-border: #cccccc;
  --button-cancel-color: #333333;
  --button-outline-color: #ffffff;
  --button-disabled-background: #f5f8fc;
  --button-disabled-color: #c6d6f7;

  --label-color: var(--primary-color);

  --input-background: #fff;
  --main-text-color: var(--primary-color);
  --input-placeholder-color: var(--primary-color);
  --label-color: var(--primary-color);

  /* MENU */
  --color-icon-menu: var(--secondary-color);
}
