@import 'reset';
@import 'animations';
@import 'fonts';
@import 'variables';
@import 'breakpoints';
@import 'mixins';

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  background: #fefefe;
  color: var(--main-tex-color);
  font-family: var(--main-font);
  height: 100%;
  @include media-breakpoint-down(sm) {
    min-height: fit-content;
    height: auto;
  }
}

a {
  color: var(--main-tex-color);
  font-weight: 600;
  text-decoration: underline;
  &:visited {
    color: var(--main-tex-color);
  }
}
