@import 'styles/animations';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icon {
  color: var(--main-text-color);
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 10px;
  top: 25px;
  transition: color 100ms ease;

  &:hover,
  &:focus {
    color: var(--secondary-color);
    transition: color 100ms ease;
  }
}

.iconTextColor {
  top: 15px;
  color: var(--secondary-color);
  transition: color 100ms ease;
}

.closeIcon {
  transition: all 0.5s ease-in-out;
  animation: fadeIn ease 2s;
}

.openIcon {
  transition: all 0.5s ease-in-out;
  animation: fadeIn ease 2s;
  transform: translateY(5px);
}
